Protocol error after Target NOP-Out

Hi Ronnie,

I have seen the following PDU being rejected with a protocol error. Its a reply to a target initated NOP-Out (seen after a reconnect).

libiscsi:2 reconnect was successful [iqn.2001-05.com.equallogic:4-52aed6-e9bca98a4-df10029dd9e539fd-00-test-lieven]
libiscsi:1 Request was rejected with reason: 0x04 (Protocol Error) [iqn.2001-05.com.equallogic:4-52aed6-e9bca98a4-df10029dd9e539fd-00-test-lieven]
libiscsi:0 PDU header: 40 80 00 00 00 00 00 00 00 00 00 00 00 00 00 00 ff ff ff ff 02 e4 00 01 00 00 00 05 00 00 00 04 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 [iqn.2001-05.com.equallogic:4-52aed6-e9bca98a4-df10029dd9e539fd-00-test-lieven]
libiscsi:1 Can not match REJECT withany outstanding pdu with itt:0xffffffff [iqn.2001-05.com.equallogic:4-52aed6-e9bca98a4-df10029dd9e539fd-00-test-lieven]
libiscsi:2 reconnect initiated [iqn.2001-05.com.equallogic:4-52aed6-e9bca98a4-df10029dd9e539fd-00-test-lieven]

I have not been able to reproduce, but I wonder if we have a bug in iscsi_process_target_nop_in().

RFC7143 section 11.19.2 says that the StatSN is not increased after a NOP-Out with itt 0xfffffff, but we have

```
statsn = scsi_get_uint32(&in->hdr[24]);
if (statsn > iscsi->statsn) {
    iscsi->statsn = statsn;
}
```

In the function. Maybe the expstatsn in the NOP-IN is thus wrong in this is why the target issues a protocol error for the NOP-IN.

Peter
